body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .b-display-cards{
 
  
} */
.b-card {
  margin: 25px;

}
.b-card-image {
  border-radius: 50%;
  width: 120px;
  height: 160px;
  box-shadow: 0px 0px 3px 2px #ccc; 
}
.b-card-info {
  margin-top: 10px;
  min-height: 100px;
  font-weight: bolder;
  color: black;
}
.b-card-title{
  font-size: 24px;
  margin: 0px;
}
.b-card-sub-title{
  font-size: 16px;
  margin: 0px;
}
.success-msg{
  color: #57a773;
  padding: 10px 15px;
}
.err-msg{
  color: #ee6352;
  padding: 10px 15px;

}
.about-pages{
  color: white;
  font-weight: bolder;
}
/*.headbar{
  font-weight: bolder;
  color: white;
  background-image: url("https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?cs=srgb&dl=pexels-pixabay-2150.jpg&fm=jpg");
}
.nav-link{
  color: white;
}
.navbrand{
  color: white;

}